{{#each this}}
    <div class="box-page">
        <h1 class="title">{{name}}</h1>
        <div class="country-box">
           <img width="600" height="500" src= {{flag}} alt="{{name}}<">
            <ul class="list">
                <li class="item"><span>Capital: {{capital}}</span></li>
                <li class="item"><span>Population: {{population}}</span></li>
                <li class="item"><span>Languages:</span>
                    <ul>
                {{#each languages}}
                <li>{{name}}</li>
               {{/each}}
            </ul>
            </li>
            </ul>
        </div>
    </div>
    {{/each}}